/raft-network/node1/data/geth/nodes
/raft-network/node1/data/geth/transactions.rlp
/raft-network/node1/data/quorum-raft-state
/raft-network/node1/data/raft-snap
/raft-network/node1/data/raft-wal
/raft-network/node1/data/geth.ipc
/raft-network/node2/data/geth/nodes
/raft-network/node2/data/geth/transactions.rlp
/raft-network/node2/data/quorum-raft-state
/raft-network/node2/data/raft-snap
/raft-network/node2/data/raft-wal
/raft-network/node2/data/geth.ipc
/raft-network/node3/data/geth/nodes
/raft-network/node3/data/geth/transactions.rlp
/raft-network/node3/data/quorum-raft-state
/raft-network/node3/data/raft-snap
/raft-network/node3/data/raft-wal
/raft-network/node3/data/geth.ipc